*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root{
  --light-color:whitesmoke;
  --dark-color:black;
  --primary-color:#104c91;
  --secondary-color:#efc9af;
  --tertiary-color:#1f8ac0;
  
}